.category {
    -fx-font-family: MyriadPro;
    -fx-font-size: 20px;
    -fx-padding: 0 0 0 20px;
    -fx-text-fill: #54667E;
}

.category1 {
    -fx-background-color: #D2D6D9;
    -fx-text-fill: #555555;
}

.category2 {
    -fx-font-family: MyriadPro;
    -fx-font-size: 20px;
    -fx-padding: 0 0 0 20px;
    -fx-background-color: #D2D6D9;
    -fx-text-fill: #555555;
}

.root {
    /*-fx-background-color: transparent;*/
    /*-fx-padding: 10px;*/
}

#MainPane {
    /*-fx-background-color: transparent;*/
    /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);*/
}

#TopToolbar {
    -fx-background-color: #353F4B;
    -fx-padding: 0;
}

#BottomToolbar {
    -fx-background-color: #F3F3F3;
}

#Accordion {
    -fx-background-color: #7C7C7C;
}

.title {
    -fx-background-color: #7C7C7C;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 15 20;
    -fx-padding: 20px;
}

.title > .arrow-button > .arrow {
    -fx-shape: "";
    -fx-background-color: transparent;
}

.content {
    -fx-background-color: #959595;
}

#MyFilesPane:collapsed > .title {
    -fx-background-image: url("../img/user_disabled.png");
}

#DocumentsPane:collapsed > .title {
    -fx-background-image: url("../img/documents_disabled.png");
}

#MusicPane:collapsed > .title {
    -fx-background-image: url("../img/music_disabled.png");
}

#PicturesPane:collapsed > .title {
    -fx-background-image: url("../img/pictures_disabled.png");
}

#FavoritesPane:collapsed > .title {
    -fx-background-image: url("../img/favorites_disabled.png");
}

#DownloadsPane:collapsed > .title {
    -fx-background-image: url("../img/downloads_disabled.png");
}

#MyFilesPane:expanded > .title {
    -fx-background-image: url("../img/user_enabled.png");
}

#DocumentsPane:expanded > .title {
    -fx-background-image: url("../img/documents_enabled.png");
}

#MusicPane:expanded > .title {
    -fx-background-image: url("../img/music_enabled.png");
}

#PicturesPane:expanded > .title {
    -fx-background-image: url("../img/pictures_enabled.png");
}

#FavoritesPane:expanded > .title {
    -fx-background-image: url("../img/favorites_enabled.png");
}

#DownloadsPane:expanded > .title {
    -fx-background-image: url("../img/downloads_enabled.png");
}

#Upload {
    -fx-graphic: url("../img/upload_disabled.png");
}

#Download {
    -fx-graphic: url("../img/download_disabled.png");
}

#CreatePath {
    -fx-graphic: url("../img/create_folder_disabled.png");
}

#Back {
    -fx-graphic: url("../img/back.png");
}

#Forward {
    -fx-graphic: url("../img/forward.png");
}

#Flashsafe {
    -fx-graphic: url("../img/flashsafe.png");
}

#Settings {
    -fx-graphic: url("../img/sttngs.png");
}

#Refresh {
    -fx-graphic: url("../img/rfrsh.png");
}

#Exit {
    -fx-graphic: url("../img/exit.png");
}

.settins_opened {
    -fx-background-color: #F3F3F3;
    -fx-graphic: url("../img/sttngs.png");
}

.settins_closed {
    -fx-background-color: transparent;
    -fx-graphic: url("../img/sttngs.png");
}

#Path {
    margin-top: 18px;
    -fx-background-color: #A2A2A2;
    -fx-text-fill: #F3F3F3;
}

#Cloud {
    -fx-graphic: url("../img/cloud_disabled.png");
}

.tree-cell {
    -fx-background-color: #A2A2A2;
    -fx-text-fill: #F3F3F3;
    -fx-padding: 0;
    -fx-font-size: 18px;
}

.tree-cell > .tree-disclosure-node {
    visibility: hidden;
}
#Menu,
#Network {
    -fx-background-color: rgb(209, 209, 209);
}

#TopTriangle {
   -fx-background-color: #FFFFFF;
   -fx-graphic: url("../img/arrow_up.png");
   -fx-padding: 0 40px -5px 150px;
}

#BottomTriangle {
   -fx-background-color: #FFFFFF;
   -fx-graphic: url("../img/arrow_down.png");
   -fx-padding: -6px 55px 0 35px;
}

#PincodeDialog,
#CreatePathDialog {
    -fx-background-color: transparent;
}

#PincodeTitle,
#CreatePathTitle {
    -fx-background-color: transparent;
    -fx-text-fill: #7C7C7C;
}

#PincodePane,
#CreatePathPane {
    -fx-background-color: #7C7C7C;
}

#PincodeTextfield,
#CreatePathTextFiled {
    -fx-background-color: #959595;
    -fx-text-fill: #F3F3F3;
}

#PincodeSubmit,
#CreatePathSubmit {
    -fx-background-color: #959595;
}

#PincodeBackspace {
    -fx-background-color: #959595;
    -fx-graphic: url("../img/backspace.png");
}

#Progress {}

#Path > .label {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-text-fill: #F3F3F3;
}

#Path > .label:hover {
    -fx-background-color: #59DAFF;
    -fx-opacity: 0.5;
}

#DisplayChoice {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: #ECEFF4;
}

#DisplayMenu {
    -fx-background-color: #ECEFF4;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#DisplayList {
    -fx-background-insets: 0;
    -fx-background-color: #ECEFF4;
}

#DisplaySlider {
    -fx-padding: 10px 5px 10px 5px;
}

#DisplayList > .virtual-flow > .clipped-container > .sheet > .cell.indexed-cell.list-cell {
    -fx-background-color: #ECEFF4;
}

#SearchPane {
    -fx-background-color: #55657F;
}

#SearchField {
    -fx-text-fill: #ECEFF4;
    -fx-background-color: transparent;
}